body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(223, 223, 223, 0.816);
}
.container {
  background-color: #fff;
  padding: 100px 40px;
  border-radius: 10px;
  border: none;
}
#input-box {
  border: none;
  height: 50px;
  border-radius: 10px;
}

button {
  border: none;
  height: 50px;
  width: 90px;
  border-radius: 10px;
  background-color: #ececec;
}
.list-items {
  text-align: center;
  text-decoration: none;
}
