body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(148, 100, 148, 0.81);
}
.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  border: none;
}
input {
  border: none;
  height: 30px;
  padding: 8px 10px;
  border-radius: 5px;
  outline: 2px;
  background-color: #d1d1d18f;
}
.clear-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  margin-top: 20px;
  margin-left: 3px;
}
.btn {
  padding: 15px 10px 30px 10px;
  background-color: rgb(132, 68, 132);
  color: #fff;
}
.list-items {
  text-align: center;
  text-decoration: none;
}
.del-msg {
  display: none;
  color: red;
  font-size: 15px;
  font-weight: 700;
}

.delIcon {
  font-size: 12px;
  color: red;
}
